<!DOCTYPE html>
<html ng-app>
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.5/angular.min.js"></script>
  </head>
<body ng-controller="TodoCtr">
  <label>Search BOX</label> 
  <input type="text" style="width:200px;" ng-model="searchText">
  <table>
    <thead>
      <tr>
        <th>Task</th>
        <th>Priority</th>
      </tr>
    </thead>
    
    <tbody ng-repeat="item in items | filter:searchText">
      <tr>
          <td>{{item.taskName}}</td>
          <td>{{item.priority}}</td>
      </tr>
    </tbody>
  </table>
</body>

<script>
 $http({method: 'GET', url: 'http://weather.livedoor.com/forecast/webservice/json/v1?city=400040'}).
    success(function(data, status, headers, config) {
      // this callback will be called asynchronously
      // when the response is available
      console.log(data);
    }).
    error(function(data, status, headers, config) {
      // called asynchronously if an error occurs
      // or server returns response with an error status.
    });

  function TodoCtr($scope){
    $scope.items = [
                    {taskName:"AAA",priority:"Low"},
                    {taskName:"BBB",priority:"High"},
                    {taskName:"CCC",priority:"Middle"},
                    {taskName:"DDD",priority:"Middleeee"},
                  ];
  }
</script>
</html>